@media only screen and (min-device-width: 1024px) and (orientation: landscape){
	

	
	body {
		width: 100%;
		height: 100%;
		background-image: linear-gradient(red, yellow);

	
		#wrap	{
			text-align: center;
			width: 100%;
			height: 100%;
			position: fixed;
			background-color: rgba(255, 0, 0, 0.7);
			transition: 2s;
			padding-top: 100px;
						
			.top	{
				width: 100%;

				#title	{
					font-size: 100px;
					transition: 1s;
				}
			}

			#main	{

				.day, .month, .year	{
					display: inline-block;
				}

				#dan, #mesec	{
					width: 100px;
					height: 66px;
					font-size: 60px;
					margin-right: 20px;
					text-align: right;

				}
				#godina	{
					width: 200px;
					height: 66px;
					font-size: 60px;
					text-align: right;
				}
				h2	{
				font-size: 50px;
				}
				h3	{
				font-size: 40px;
				}
				button	{
					width: 200px;
					height: 66px;
					margin-top: 20px;
					font-size: 40px;
				}
				#oldnes, #otherDetails	{
					font-size: 30px;
					font-weight: 700;
				}
			}
		}

		#devide {
			width: 100%;
			height: 100vh;
			
		}
		.epoch	{
			width: 100%;
			margin-bottom: 50vh;

			p	{
				font-size: 30px;
				padding-bottom: 10px;
			}

			#begin	{
				font-size: 40px;
			}

			img  {
				float: right;
				height: 300px;
			}
			#eighties, #nineties, #twoThousands, #tens	{
				img  {
				height: 20vw;
				margin-right: 40vw;
				}
			}
			#thirties, #forties, #fifties, #sixties, #seventies, #eighties, #nineties, #twoThousands, #tens	{
				width: 100%;
				height: 50vh;
			}

		}											




		#scroller-top-button	{
			display: none;
		}
	}
}